@charset "UTF-8";

body {
    background-color: black;
    color: white;
    font-size: larger;
}

p {
    text-align: center;
}

img{
    border-style: solid;
    border-color: red;
}

.titulo {
    font-size: 50px;
    text-align: center;
}

.cta{
    display: flex;
    text-decoration: none;
    background-image: linear-gradient(45deg, #004F4D 0%, #1F2024 99%, #e6dcd9 100%);
    padding: 20px 30px;
    border-radius: 8px;
    color: #fff;
    border-color: white;
    border-style: solid;
}
.cta:hover {
    background: linear-gradient(45deg, #4B4952 0%, #004F4D 99%, #e6dcd9 100%);
}

.item {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.banner {
    display: flex;
    justify-content: center;
}